{% extends "layout.html" %}
{% block title %} 
Home Page
{% endblock %}
{% block content %}
practice Django | Home page
{% endblock %}

{% comment %}
{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Practice Django</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1>Practice Django</h1>
        <p>Welcome to the practice Django project.</p>
    </body>
</html> {% endcomment %}